.console{
    display: flex;
    justify-content: center;
    height: 80%;
}
app-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5000px;
    width: 100%;
    height: 88%;
}